.Landing-header {
  width: 100%;
  height: 300px;
  background: #74ACDFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;


  &-title {
    padding-top: 20px;
    padding-bottom: 30px;

    margin: 0 auto;

    & h1 {
      font-size: 70px;
      height: 120px;

      & span {
        padding: 0;
        height: 20px;
      }

      & span:nth-child(1) {
        color: white;
      }

      & span:nth-child(2) {
        color: white;
      }

      & span:nth-child(3) {
        color: #FCBF49;
      }
    }

    & p {
      font-size: 26px;
      font-weight: bold;
    }
  }

  &-footer {
    & span {
      color: black;

      & a {

        text-decoration: none;
        transition: .2s;

        &:visited {
          color: black;
        }

        &:hover {
          font-weight: bold;
          color: #FCBF49;
        }
      }
    }

  }


}